/* Toggle btn colot */
/*  dashboard colors
    Start   */
/*  End   
    Dashboard Colors    */
/*  Header Colors
    Start   */
/*  End   
    Header Colors    */
/*  Footer Colors
    Start   */
/*  End
    Footer Color    */
/*  Start
    dataTable colors    */
/*  End
    dataTable colors    */
/*  Start 
    Cart Table Style */
/*  End 
    Cart Table Style */
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  height: 5px;
  border-color: #eb0505; }

ul {
  list-style: none;
  padding: 0; }

h1 {
  font-size: 2rem !important; }

.logo {
  position: relative;
  margin: 0 10px; }
  .logo img {
    max-height: 65px; }
  @media screen and (max-width: 785px) {
    .logo {
      margin: 0px !important; } }

a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none !important; }

/* Toggle btn colot */
/*  dashboard colors
    Start   */
/*  End   
    Dashboard Colors    */
/*  Header Colors
    Start   */
/*  End   
    Header Colors    */
/*  Footer Colors
    Start   */
/*  End
    Footer Color    */
/*  Start
    dataTable colors    */
/*  End
    dataTable colors    */
/*  Start 
    Cart Table Style */
/*  End 
    Cart Table Style */
/* Toggle btn colot */
/*  dashboard colors
    Start   */
/*  End   
    Dashboard Colors    */
/*  Header Colors
    Start   */
/*  End   
    Header Colors    */
/*  Footer Colors
    Start   */
/*  End
    Footer Color    */
/*  Start
    dataTable colors    */
/*  End
    dataTable colors    */
/*  Start 
    Cart Table Style */
/*  End 
    Cart Table Style */
/*
** for hide or remove section from our html page
*/
/* 
** Overlay : all overlay in our site must have these properties 
*/
/*
** Prefixes Mixin
** Auto Add Prefixes To Properties
*/
/*
** Animation Mixin
** Auto Add Prefixes To Animation
*/
/* Toggle btn colot */
/*  dashboard colors
    Start   */
/*  End   
    Dashboard Colors    */
/*  Header Colors
    Start   */
/*  End   
    Header Colors    */
/*  Footer Colors
    Start   */
/*  End
    Footer Color    */
/*  Start
    dataTable colors    */
/*  End
    dataTable colors    */
/*  Start 
    Cart Table Style */
/*  End 
    Cart Table Style */
/*
** for hide or remove section from our html page
*/
/* 
** Overlay : all overlay in our site must have these properties 
*/
/*
** Prefixes Mixin
** Auto Add Prefixes To Properties
*/
/*
** Animation Mixin
** Auto Add Prefixes To Animation
*/
.shadow-lg {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175) !important; }

.header {
  position: relative;
  z-index: 1000;
  top: 0;
  height: 80px;
  overflow: hidden;
  transition: all 0.5s; }
  .header .category-icon {
    padding: 10px 0px;
    cursor: pointer; }
    .header .category-icon .category-icon-img {
      width: 45px;
      height: 45px; }
  .header .header-nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    position: fixed;
    z-index: 1000;
    /*Style Right section of header*/
    /*style login icon*/ }
    .header .header-nav .header-links {
      font-size: 25px;
      font-weight: bold;
      background-color: #fff;
      padding: 8px 15px; }
    .header .header-nav .header-open-dashboard {
      padding: 15px; }
      @media screen and (max-width: 785px) {
        .header .header-nav .header-open-dashboard {
          padding: 15px 10px; } }
    .header .header-nav .header-list-btn {
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .header-nav .header-list-btn .header-btn {
        border: none;
        border-radius: 0;
        height: 35;
        background-color: #fff;
        color: #000;
        font-weight: bold;
        font-size: 16px; }
        .header .header-nav .header-list-btn .header-btn .right-icon {
          font-size: 15px;
          padding-top: 2px; }
        .header .header-nav .header-list-btn .header-btn:hover {
          background-color: #17a2b8;
          color: white;
          transition: all 0.5s; }
        .header .header-nav .header-list-btn .header-btn:avtive {
          background-color: #fff; }
      .header .header-nav .header-list-btn #offers,
      .header .header-nav .header-list-btn #support,
      .header .header-nav .header-list-btn #quick-help {
        margin-left: 0px; }
      .header .header-nav .header-list-btn #login,
      .header .header-nav .header-list-btn #register {
        background-color: #fff;
        border-radius: 5px; }
        .header .header-nav .header-list-btn #login:hover,
        .header .header-nav .header-list-btn #register:hover {
          background-color: #17a2b8;
          color: #fff;
          transition: all 0.5s; }
      .header .header-nav .header-list-btn .header-menu-main {
        margin-left: 45px; }
        .header .header-nav .header-list-btn .header-menu-main .header-menu {
          top: 50px;
          width: 50%;
          background-color: #fff;
          border: 1px solid gray;
          border-radius: 5px;
          z-index: 2;
          position: fixed;
          display: inline-block;
          transform: translate(0px, 0px); }
          .header .header-nav .header-list-btn .header-menu-main .header-menu .header-menu-card {
            padding: 15px 15px 15px 15px;
            width: 30%;
            display: inline-block;
            border-left: 2px solid #F0F8FF;
            vertical-align: top; }
            .header .header-nav .header-list-btn .header-menu-main .header-menu .header-menu-card .header-sublist-collapse li {
              margin-left: 10px;
              color: black; }
              .header .header-nav .header-list-btn .header-menu-main .header-menu .header-menu-card .header-sublist-collapse li .title {
                font-size: 15px;
                font-weight: bold; }
              .header .header-nav .header-list-btn .header-menu-main .header-menu .header-menu-card .header-sublist-collapse li a {
                text-decoration: none;
                font-size: 15px;
                font-weight: normal;
                margin-left: 10px;
                color: black;
                border-bottom: 2px solid #F0F8FF; }
                .header .header-nav .header-list-btn .header-menu-main .header-menu .header-menu-card .header-sublist-collapse li a:hover {
                  color: black; }
          .header .header-nav .header-list-btn .header-menu-main .header-menu .overview {
            border-left: 0px solid #F0F8FF; }
      .header .header-nav .header-list-btn .header-menu-main::after {
        z-index: 1;
        position: absolute;
        background-color: black;
        width: 25px;
        height: 25px;
        border-top: 0px solid black;
        border-left: 1px solid black;
        border-right: 0px solid black;
        border-bottom: 0px solid black;
        top: 70;
        margin-left: 25px;
        left: 25%;
        content: '';
        transform: rotate(45deg);
        margin-top: -12.5px; }
    .header .header-nav .navbar-right {
      position: relative;
      height: 80px !important;
      border-left: 1px solid #d3d3d3d3;
      /*
      .cart {
          
          .cart-btn {
              background-color: $header-background-color;
              border: none;
              cursor: pointer;
              i {
                  img {
                      width: 54px;
                      height: 54px;
                      padding: 0px 0px;
                      margin: 0px 0px 5px 0;
                      margin: 6px;
                  }
              }
          }
          
      }
      */ }
      .header .header-nav .navbar-right .short-profile-card {
        display: inline;
        padding-top: 0px; }
        .header .header-nav .navbar-right .short-profile-card .short-profile-content {
          height: 65px;
          float: left; }
          .header .header-nav .navbar-right .short-profile-card .short-profile-content .short-profile-left {
            height: 65px; }
            .header .header-nav .navbar-right .short-profile-card .short-profile-content .short-profile-left .btn-group {
              height: 65px;
              display: block ruby; }
              .header .header-nav .navbar-right .short-profile-card .short-profile-content .short-profile-left .btn-group .img-btn {
                height: 65px;
                text-decoration: none !important;
                display: ruby; }
                .header .header-nav .navbar-right .short-profile-card .short-profile-content .short-profile-left .btn-group .img-btn .icon-wrapper .rounded-circle {
                  border-radius: 50%;
                  width: 53px;
                  height: 53px; }
                .header .header-nav .navbar-right .short-profile-card .short-profile-content .short-profile-left .btn-group .img-btn .icon-wrapper .img-dropdown {
                  color: #000; }
          .header .header-nav .navbar-right .short-profile-card .short-profile-content .short-profile-right {
            overflow: hidden;
            color: #000;
            text-align: center;
            max-width: 150px; }
            .header .header-nav .navbar-right .short-profile-card .short-profile-content .short-profile-right .user-name span {
              font-size: 13px;
              text-align: center; }
            .header .header-nav .navbar-right .short-profile-card .short-profile-content .short-profile-right .user-desc {
              font-size: 11px; }
        .header .header-nav .navbar-right .short-profile-card .profile-info {
          top: 68px;
          right: 50px;
          height: 420px !important;
          width: 350px !important;
          background-color: #fff;
          border: 1px solid gray;
          border-radius: 5px;
          position: fixed;
          overflow: hidden;
          margin-top: -525px;
          z-index: 1000 !important;
          transition: all .8s; }
          .header .header-nav .navbar-right .short-profile-card .profile-info .card-header {
            width: 350px;
            height: 200px;
            position: relative;
            display: grid;
            background-image: url("../../../images/Betta-Fish.jpg");
            background-size: cover; }
            .header .header-nav .navbar-right .short-profile-card .profile-info .card-header img {
              z-index: 3;
              width: 75px;
              border-radius: 50px;
              position: absolute;
              margin-left: 25px;
              margin-top: 25px; }
            .header .header-nav .navbar-right .short-profile-card .profile-info .card-header .color-overlay {
              width: 350px;
              height: 200px;
              background-color: #7d3c98;
              opacity: .3;
              position: absolute; }
            .header .header-nav .navbar-right .short-profile-card .profile-info .card-header h1 {
              margin-left: 100px;
              font-family: 'Avantgarde, TeX';
              font-size: 20px;
              z-index: 3;
              color: mintcream;
              font-style: oblique; }
          .header .header-nav .navbar-right .short-profile-card .profile-info .card-container {
            border-bottom: 2px solid dimgrey; }
            .header .header-nav .navbar-right .short-profile-card .profile-info .card-container .card-body {
              flex: none;
              position: relative;
              padding-left: 0px;
              padding-right: 15px; }
              .header .header-nav .navbar-right .short-profile-card .profile-info .card-container .card-body h2 {
                padding-left: 18px;
                font-family: 'Avantgarde, TeX';
                font-style: oblique;
                font-size: 16px;
                justify-content: center;
                align-items: center; }
            .header .header-nav .navbar-right .short-profile-card .profile-info .card-container .card-img {
              position: relative;
              padding-left: 15px;
              padding-right: 0px;
              max-width: 80px;
              max-height: 80px; }
              .header .header-nav .navbar-right .short-profile-card .profile-info .card-container .card-img img {
                width: 100%;
                height: 100%; }
          .header .header-nav .navbar-right .short-profile-card .profile-info .btn {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px; }
      .header .header-nav .navbar-right .cart-btn {
        align-items: center;
        font-size: 36px;
        color: #17a2b8; }
        .header .header-nav .navbar-right .cart-btn .cart-icon {
          padding-left: 5px; }
    .header .header-nav .glyphicon-log-in {
      margin-right: 7px; }
  .header .header-search-container {
    margin: 0px 10px;
    /*
    @media screen and (max-width:1000px) {
        max-width: 270px !important;
        width: 100%;
    }
    */ }
    @media screen and (max-width: 785px) {
      .header .header-search-container {
        width: 300px !important; } }
    @media screen and (min-width: 786px) {
      .header .header-search-container {
        width: 350px !important; } }
    @media only screen and (min-width: 900px) {
      .header .header-search-container {
        width: 400px !important; } }
    @media screen and (min-width: 1000px) {
      .header .header-search-container {
        width: 450px !important; } }
    .header .header-search-container button {
      padding: 0;
      margin: 0;
      border: 0;
      background-color: transparent;
      border-radius: 50%;
      cursor: pointer; }
    .header .header-search-container .search-box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff !important; }
      .header .header-search-container .search-box .search-form {
        width: 100%; }
        .header .header-search-container .search-box .search-form .inner-form {
          width: 100%;
          height: 65px; }
          .header .header-search-container .search-box .search-form .inner-form .basic-search {
            box-shadow: none !important;
            border-bottom: 0px !important;
            height: 65px;
            margin: 0px; }
            .header .header-search-container .search-box .search-form .inner-form .basic-search .input-field {
              height: 65px;
              position: relative;
              padding: 6px 0px !important; }
              .header .header-search-container .search-box .search-form .inner-form .basic-search .input-field .has-search {
                height: 100%;
                margin: 0px; }
              .header .header-search-container .search-box .search-form .inner-form .basic-search .input-field .has-search .form-control {
                border-radius: 30px;
                height: 100%;
                background-color: #eee;
                padding-left: 60px;
                width: 100%; }
              .header .header-search-container .search-box .search-form .inner-form .basic-search .input-field .has-search .form-control-feedback {
                position: absolute;
                z-index: 0;
                font-size: 36px;
                width: 53px;
                height: 53px;
                align-items: center;
                justify-content: center;
                color: #423642;
                display: flex; }
    .header .header-search-container .ui-front {
      width: 407px !important;
      top: 59px !important;
      left: 214.767px !important;
      z-index: 1000 !important; }
  .header .submit-btn {
    margin-top: 30px; }
  .header .show-ad {
    width: 100%;
    margin-left: 0; }
  .header .myForm-container {
    height: auto;
    padding-top: 51px; }
    .header .myForm-container form {
      border: none !important; }
    @media screen and (max-width: 767px) {
      .header .myForm-container {
        width: 100% !important;
        margin-left: 0;
        padding-top: 0px; } }
    .header .myForm-container .container {
      /* Set a style for all buttons */
      /* Extra styles for the cancel button */
      /* Float cancel and signup buttons and add an equal width */
      /* Add padding to container elements */
      /* Clear floats */
      /* Change styles for cancel button and signup button on extra small screens */ }
      .header .myForm-container .container .alert {
        margin-top: 15px;
        font: normal bold 28px Georgia, serif;
        color: white;
        background-color: #f44336;
        opacity: 0.9; }
      .header .myForm-container .container input[type=text],
      .header .myForm-container .container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #fff; }
      .header .myForm-container .container input[type=text]:focus,
      .header .myForm-container .container input[type=password]:focus {
        background-color: #ddd;
        outline: none; }
      .header .myForm-container .container hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px; }
      .header .myForm-container .container button {
        background-color: #fff;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9; }
      .header .myForm-container .container button:hover {
        opacity: 1; }
      .header .myForm-container .container .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336; }
      .header .myForm-container .container .signupbtn {
        background-color: #007e33; }
      .header .myForm-container .container .cancelbtn,
      .header .myForm-container .container .signupbtn {
        float: left;
        width: 50%; }
      .header .myForm-container .container .register_container {
        padding: 16px; }
      .header .myForm-container .container .clearfix::after {
        content: "";
        clear: both;
        display: table; }
      @media screen and (max-width: 375px) {
        .header .myForm-container .container {
          width: 100%; }
          .header .myForm-container .container .cancelbtn,
          .header .myForm-container .container .signupbtn {
            width: 100%; } }

#ui-id-1 {
  z-index: 1000 !important;
  background-color: white;
  border: 1px solid #4343;
  top: 65px !important;
  padding: 10px !important;
  box-shadow: 0 1px 5px #17a2b8, 0 -1px 5px #17a2b8 !important; }
  #ui-id-1 .ui-menu-item {
    margin-top: 5px; }
    #ui-id-1 .ui-menu-item .ui-state-active {
      background-color: #17a2b8 !important;
      border: none; }

.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 10px;
  font-size: 16px !important; }
  .lang a {
    color: #fff;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    background-color: #423642;
    display: flex;
    justify-content: center;
    align-items: center; }

.categories-main {
  position: fixed;
  top: 66px;
  left: 0;
  width: 100% !important;
  padding: 15px;
  height: 350px;
  background-color: #fff;
  transition: all 1.5s;
  z-index: 1002 !important;
  margin-top: -500px;
  overflow: hidden; }
  .categories-main .categories-list,
  .categories-main .category-content {
    position: relative; }
  .categories-main .category-content .list-parent {
    column-count: 10; }
  .categories-main .category-content .category-btn {
    margin: 0 .5rem;
    width: 100px;
    box-sizing: border-box;
    /* Always keep the text in 1 line: */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: -1;
    position: relative; }

/* Toggle btn colot */
/*  dashboard colors
    Start   */
/*  End   
    Dashboard Colors    */
/*  Header Colors
    Start   */
/*  End   
    Header Colors    */
/*  Footer Colors
    Start   */
/*  End
    Footer Color    */
/*  Start
    dataTable colors    */
/*  End
    dataTable colors    */
/*  Start 
    Cart Table Style */
/*  End 
    Cart Table Style */
.header-sm {
  z-index: 99;
  background-color: #fff !important;
  transition: all 0.5s; }
  .header-sm .btn {
    background-color: #fff;
    border: none;
    margin: 0px 0px 5px 0px;
    width: 100%;
    text-align: left; }
    .header-sm .btn:hover {
      background-color: #17a2b8;
      transition: all 1s; }
  .header-sm #header-toggle-btn {
    margin-top: 0;
    margin-bottom: 0px; }
    .header-sm #header-toggle-btn:hover {
      background-color: #fff; }
  .header-sm .dropdown {
    margin: 0px 0px 5px 12px; }
  .header-sm .toggle-btn {
    position: relative;
    cursor: pointer;
    list-style: none;
    margin-top: 0px; }
    .header-sm .toggle-btn .dashboard-toggle-btn {
      list-style: none;
      z-index: 5 !important;
      transition: all .5s !important; }
      .header-sm .toggle-btn .dashboard-toggle-btn span {
        margin-top: 5px !important;
        box-shadow: 0;
        background-color: red; }
  .header-sm .navbar-collapse {
    border-top: 1px solid;
    margin: 5px 0;
    padding: 5px 0; }

/* Toggle btn colot */
/*  dashboard colors
    Start   */
/*  End   
    Dashboard Colors    */
/*  Header Colors
    Start   */
/*  End   
    Header Colors    */
/*  Footer Colors
    Start   */
/*  End
    Footer Color    */
/*  Start
    dataTable colors    */
/*  End
    dataTable colors    */
/*  Start 
    Cart Table Style */
/*  End 
    Cart Table Style */
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  height: 5px;
  border-color: #eb0505; }

ul {
  list-style: none;
  padding: 0; }

h1 {
  font-size: 2rem !important; }

.logo {
  position: relative;
  margin: 0 10px; }
  .logo img {
    max-height: 65px; }
  @media screen and (max-width: 785px) {
    .logo {
      margin: 0px !important; } }

a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none !important; }

.toggle-btn {
  margin-top: 5px; }
  .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: white;
    margin-top: 5px; }
  .toggle-btn:hover {
    cursor: pointer; }

.header-toggle-btn {
  /*
  @media screen and (max-width:768px) {
      display: none !important;
  }
  */ }
  .header-toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: red;
    margin-top: 5px; }
  .header-toggle-btn:hover {
    cursor: pointer !important; }

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle; }
  .btn-group *,
  .btn-group ::before,
  .btn-group ::after,
  .btn-group-vertical *,
  .btn-group-vertical ::before,
  .btn-group-vertical ::after {
    box-sizing: border-box; }

.main-search-tool .main-search-tool-item .minmum,
.main-search-tool .main-search-tool-item .maxmum {
  padding-left: 0px !important;
  padding-right: 0px !important; }

/*
.btn {
    &:active {
        border-color: #000;
    }
    &:focus {
        border-color: #000;
    }
}
*/
.my-btn {
  background-color: rgba(63, 81, 181, 0.7);
  color: #fff;
  margin: auto; }
  .my-btn:hover {
    background-color: #333;
    color: #fff; }

.btn-success {
  background-color: #17a2b8 !important; }

/*
.header-language-btn {
    margin-top: -7px;
    text-decoration: none;
    width: 15px;
    height: 15px;
    &:hover {
        text-decoration: none;
        color: red;
    }
    .language-text {
        font-size: 14px;
        color: black;
        margin-left: 3px;
    }
}
*/
.btn-lg {
  font-size: 1rem !important; }

.language-select {
  margin: 0px 10px; }
  .language-select .dropdown {
    margin: 8px auto;
    height: 50px; }
    .language-select .dropdown .header-language-btn {
      border: none;
      border-radius: 50%;
      height: 50px;
      width: 50px; }
      .language-select .dropdown .header-language-btn:hover, .language-select .dropdown .header-language-btn:focus, .language-select .dropdown .header-language-btn:active, .language-select .dropdown .header-language-btn:focus-within, .language-select .dropdown .header-language-btn:visited {
        box-shadow: 0 0 0 0rem rgba(52, 58, 64, 0.5) !important; }
    .language-select .dropdown .dropdown-menu {
      transform: translate3d(0px, 55px, 0px);
      float: right;
      min-width: 0 !important;
      padding: 0;
      width: 100%;
      border-radius: 50%;
      height: 50px;
      width: 50px; }
      .language-select .dropdown .dropdown-menu .dropdown-item {
        width: 50px;
        height: 50px;
        border-radius: 50px; }
        .language-select .dropdown .dropdown-menu .dropdown-item:hover {
          background-color: #117a8b;
          color: #fff; }

.carousel-indicators {
  z-index: 1; }

.centralization {
  display: flex;
  justify-content: center;
  align-items: center; }

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em; }

.main-table-search-box {
  margin-left: 15px !important; }

.main-table {
  overflow-y: hidden;
  overflow-x: hidden; }
  .main-table tbody td,
  .main-table tbody th {
    color: #000; }
  .main-table .dataTables_wrapper {
    padding: .5rem; }
    .main-table .dataTables_wrapper .dataTables_length,
    .main-table .dataTables_wrapper .dataTables_filter,
    .main-table .dataTables_wrapper .dataTables_info,
    .main-table .dataTables_wrapper .paging_simple_numbers {
      margin: 10px 0px 10px 0;
      padding: 10px 0px 10px 0; }
    .main-table .dataTables_wrapper .dataTables_length label {
      font-size: medium;
      color: black; }
      .main-table .dataTables_wrapper .dataTables_length label select {
        margin: 0 5px;
        border-radius: 10px;
        height: 35px;
        width: 60px;
        color: black;
        background-color: #f1f1f1; }
    .main-table .dataTables_wrapper .dataTables_filter {
      /*float: $right;
      @media screen and (max-width: 768px) {
          float: $left;
      }*/ }
      .main-table .dataTables_wrapper .dataTables_filter label {
        font-size: medium;
        color: black; }
        .main-table .dataTables_wrapper .dataTables_filter label input {
          padding-left: 10px;
          border-radius: 2px;
          height: 35px;
          width: 300px;
          color: black; }
    .main-table .dataTables_wrapper .my-table .table-header {
      background-color: #4B515D;
      color: white; }
    .main-table .dataTables_wrapper .my-table .table-body {
      /*td,
      th {
          border: .2px solid $footer-color;
      }*/ }
      .main-table .dataTables_wrapper .my-table .table-body tr:nth-child(even) {
        background-color: #fff;
        color: black; }
        .main-table .dataTables_wrapper .my-table .table-body tr:nth-child(even):hover {
          background-color: #007bff;
          color: #ddd; }
      .main-table .dataTables_wrapper .my-table .table-body .odd:hover {
        background-color: #007bff;
        color: #fff; }
      .main-table .dataTables_wrapper .my-table .table-body .more-info .my-btn {
        color: #fff;
        background-color: #333;
        display: flex;
        align-items: center;
        justify-content: center; }
    .main-table .dataTables_wrapper .dataTables_info {
      color: black;
      font-size: medium;
      font-weight: bold; }
    .main-table .dataTables_wrapper .paging_simple_numbers {
      color: black;
      font-size: 15px;
      font-weight: bold; }
  .main-table .page-item.active .page-link {
    z-index: 0; }

@media screen and (max-width: 767px) {
  .search-container {
    display: block; } }
@media screen and (min-width: 768px) {
  .search-container {
    display: none; } }
.search-container .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1; }
  .search-container .search-box .search-form {
    width: 100%; }
    .search-container .search-box .search-form .inner-form {
      width: 100%; }
      .search-container .search-box .search-form .inner-form .basic-search {
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        border-bottom: 2px solid #ddd;
        border-radius: 15px;
        height: 60px;
        margin: 0 0 10px 0; }
        .search-container .search-box .search-form .inner-form .basic-search .input-field {
          height: 60px;
          position: relative;
          padding: 0px !important; }
          .search-container .search-box .search-form .inner-form .basic-search .input-field .has-search {
            height: 100%; }
          .search-container .search-box .search-form .inner-form .basic-search .input-field .has-search .form-control {
            padding-left: 60px;
            border-radius: 0;
            height: 100%; }
          .search-container .search-box .search-form .inner-form .basic-search .input-field .has-search .form-control-feedback {
            position: absolute;
            z-index: 0;
            display: block;
            font-size: 30px;
            width: 60px;
            height: 60px;
            text-align: center;
            justify-content: center;
            pointer-events: none;
            color: #aaa;
            padding-top: 15px; }

.submit-btn {
  margin-top: 30px; }

.show-ad {
  width: 100%;
  margin-left: 0; }

.myForm-container {
  height: auto;
  padding-top: 1rem; }
  .myForm-container form {
    border: none !important; }
  @media screen and (max-width: 767px) {
    .myForm-container {
      width: 100% !important;
      margin-left: 0;
      padding-top: 0px; } }
  .myForm-container .container {
    /* Set a style for all buttons */
    /* Extra styles for the cancel button */
    /* Float cancel and signup buttons and add an equal width */
    /* Add padding to container elements */
    /* Clear floats */
    /* Change styles for cancel button and signup button on extra small screens */ }
    .myForm-container .container .alert {
      margin-top: 15px;
      font: normal bold 28px Georgia, serif;
      color: white;
      background-color: #dc3545;
      opacity: 0.9; }
    .myForm-container .container input[type=text],
    .myForm-container .container input[type=password] {
      width: 100%;
      display: inline-block;
      border: none;
      background: #fff; }
    .myForm-container .container input[type=text]:focus,
    .myForm-container .container input[type=password]:focus {
      background-color: #ddd;
      outline: none; }
    .myForm-container .container hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px; }
    .myForm-container .container button {
      background-color: #fff;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9; }
    .myForm-container .container button:hover {
      opacity: 1; }
    .myForm-container .container .cancelbtn {
      padding: 14px 20px;
      background-color: #dc3545; }
    .myForm-container .container .signupbtn {
      background-color: #17a2b8; }
    .myForm-container .container .cancelbtn,
    .myForm-container .container .signupbtn {
      float: left;
      width: 50%; }
    .myForm-container .container .register_container {
      padding: 16px; }
    .myForm-container .container .clearfix::after {
      content: "";
      clear: both;
      display: table; }
    @media screen and (max-width: 375px) {
      .myForm-container .container {
        width: 100%; }
        .myForm-container .container .cancelbtn,
        .myForm-container .container .signupbtn {
          width: 100%; } }

@media screen and (max-width: 767px) {
  .addDetails .product-info {
    margin-top: 80px; } }
.addDetails .product-info .image {
  width: 100%;
  height: 300px; }
  .addDetails .product-info .image img {
    width: 100%;
    height: 100%; }
.addDetails .main-table {
  margin: 0;
  margin-top: 30px;
  padding: 0; }
  .addDetails .main-table .input-table:hover {
    background-color: white !important; }
  .addDetails .main-table .input-table th {
    width: 20%; }
    .addDetails .main-table .input-table th .row {
      margin: 0;
      padding: 0; }
  .addDetails .main-table .input-table th,
  .addDetails .main-table .input-table td {
    padding: 5;
    margin: 5;
    padding-bottom: 0;
    margin-bottom: 0; }
    .addDetails .main-table .input-table th input,
    .addDetails .main-table .input-table td input {
      border: none;
      width: 100%;
      height: 38px;
      margin: 0;
      padding: 0;
      padding: 5px; }

.clearfix {
  clear: both !important; }

.sideMenu {
  overflow-y: visible;
  overflow-x: hidden;
  position: sticky;
  width: 280px;
  min-height: 700px;
  left: 0;
  margin-left: -280px;
  background: linear-gradient(to bottom, #fff, #DAE2F8, #D6A4A4);
  transition: all 0.5s;
  z-index: 101; }
  @media screen and (max-width: 767px) {
    .sideMenu {
      top: 0px;
      position: fixed;
      min-height: 100%;
      height: 100%; } }
  .sideMenu ul {
    list-style: none;
    padding: 0; }
  .sideMenu .dashboard-header {
    display: inline; }
    .sideMenu .dashboard-header .logo {
      top: 0;
      left: 0;
      width: 82%;
      float: left; }
      .sideMenu .dashboard-header .logo img {
        width: 100%; }
  .sideMenu .dashboard-list {
    padding: 20px 10px;
    margin-bottom: 100px; }
    @media screen and (max-width: 767px) {
      .sideMenu .dashboard-list {
        margin-top: 30px !important; } }
    .sideMenu .dashboard-list hr {
      border-color: #17a2b8;
      margin-top: 25px; }
    .sideMenu .dashboard-list .dashboard-card {
      margin: 15px; }
      .sideMenu .dashboard-list .dashboard-card .dashboard-card-title {
        text-transform: uppercase;
        font-size: 16px;
        margin: 0.75rem 0;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 3px 5px red, 0 -3px 5px #17a2b8;
        white-space: nowrap;
        position: relative; }
      .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn {
        margin-top: 15px; }
        .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn {
          color: black;
          display: block;
          border: none;
          text-align: left;
          width: 230px;
          height: 40px;
          padding: 0px 15px;
          overflow: hidden;
          cursor: pointer;
          margin-top: 5px;
          margin-bottom: 10px;
          box-shadow: 0 1px 5px #17a2b8, 0 -1px 5px #17a2b8; }
          .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn:hover {
            background-color: #17a2b8;
            color: #fff;
            border-radius: 45px;
            transition: all 0.5s;
            box-shadow: 0 1px 5px #fff, 0 -1px 5px #fff; }
          .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn i {
            width: 30px;
            height: 30px;
            display: none; }
          .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn .left-icon {
            font-size: 24px;
            font-weight: 100;
            float: left; }
            .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn .left-icon .img-icon {
              width: 25px;
              height: 25px;
              overflow: hidden;
              margin-bottom: 10px; }
          .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn .right-icon {
            float: right;
            font-size: 18px; }
          .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn .dashboard-category {
            padding: 10px;
            height: 40px !important;
            font-size: 16px;
            font-weight: bold;
            white-space: nowrap; }
        .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .category-btn:hover {
          color: #fff; }
        .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .dashboard-card-list {
          padding: 0px 10px 0 20px;
          border-left: 1px solid #17a2b8;
          margin: 20px 10px; }
          .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .dashboard-card-list li .sublist-btn {
            width: 93%;
            border-radius: 45px;
            text-align: center;
            border: none; }
            .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .dashboard-card-list li .sublist-btn:hover {
              background-color: #f1f1f1 !important;
              box-shadow: 0 2px 7px #17a2b8, 0 -2px 7px #434343;
              color: #fff;
              text-shadow: 0 4px 7px red, 0 -4px 7px #17a2b8;
              font-weight: bolder; }
  .sideMenu .toggle-btn {
    position: relative;
    cursor: pointer;
    list-style: none; }
    .sideMenu .toggle-btn .dashboard-close-toggle-btn {
      position: absolute;
      top: 12px !important;
      left: 225px !important;
      list-style: none; }
      .sideMenu .toggle-btn .dashboard-close-toggle-btn span {
        margin-top: 5px !important;
        box-shadow: 0;
        background-color: red; }

.active {
  background-color: black;
  color: #fff; }

.main {
  transition: 0.5s !important; }
  .main span {
    content: "\003E"; }

.expand-arrow {
  z-index: 1;
  transition: 0.5s;
  width: 25px;
  bottom: 50% !important;
  position: fixed;
  cursor: pointer; }

.footer {
  transition: all 0.5s; }
  .footer p,
  .footer h3,
  .footer h4,
  .footer h5,
  .footer a,
  .footer li {
    color: #000 !important; }
  .footer h2 {
    color: #000 !important;
    text-shadow: 0 3px 8px #f9f4f4, 0 -3px 8px white !important;
    font-size: larger !important;
    font-weight: bolder !important;
    padding: 5px 0; }
  .footer .footer-top {
    height: auto;
    background: linear-gradient(to top, #f1f1f1, #DAE2F8, #D6A4A4);
    padding: 105px 0; }
    .footer .footer-top .container {
      width: 100%;
      height: 100%; }
    .footer .footer-top p {
      color: #999;
      line-height: 25px; }
    .footer .footer-top h2,
    .footer .footer-top h3 {
      color: #fff; }
    .footer .footer-top h2 {
      font-size: 18px; }
    .footer .footer-top .segment-one h3 {
      font-family: Courgette;
      color: #fff;
      letter-spacing: 3px;
      margin: 10px 0; }
    .footer .footer-top .segment-tow h2 {
      color: #fff;
      font-family: poppins;
      text-transform: uppercase; }
    .footer .footer-top .segment-tow h2:before {
      content: "|";
      color: #a62a2a;
      padding-right: 10px; }
    .footer .footer-top .segment-tow ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .footer .footer-top .segment-tow ul li {
        border-bottom: 1px solid #000;
        line-height: 40px; }
        .footer .footer-top .segment-tow ul li a {
          color: #212121 !important;
          text-decoration: none; }
    .footer .footer-top .segment-three h2 {
      color: #fff;
      font-family: poppins;
      text-transform: uppercase; }
    .footer .footer-top .segment-three h2:before {
      content: '|';
      color: #a62a2a;
      padding-right: 10px; }
    .footer .footer-top .segment-three a {
      background-color: #494848;
      width: 40px;
      height: 40px;
      display: inline-block;
      border-radius: 50%; }
      .footer .footer-top .segment-three a i {
        font-size: 20px;
        color: #fff;
        padding: 10px 12px; }
    .footer .footer-top .segment-four h2 {
      color: #fff;
      font-family: Poppins;
      text-transform: uppercase; }
    .footer .footer-top .segment-four h2:before {
      content: '|';
      color: #a62a2a;
      padding-right: 10px; }
    .footer .footer-top .segment-four form input[type=submit] {
      background: #a62a2a;
      border: none;
      padding: 3px 7px;
      color: #fff;
      text-transform: uppercase;
      text-align: center; }
  .footer .footer-bottom-text {
    text-align: center;
    background: linear-gradient(to bottom, #f1f1f1, #DAE2F8, #D6A4A4);
    line-height: 75px;
    margin: 0;
    padding: 50px;
    box-shadow: 0 1px 5px #fff, 0 -1px 5px #666;
    color: #000 !important;
    font-size: larger !important;
    font-weight: bolder !important; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer .md-mb-30 {
      margin-bottom: 30px; }
    .footer .footer-bottom-text {
      margin: 0; } }
  @media only screen and (max-width: 767px) {
    .footer .sm-mb-30 {
      margin-bottom: 30px; }
    .footer .footer-top {
      padding: 50px 0; }
    .footer .footer-bottom-text {
      margin: 0; } }
  @media screen and (max-width: 767px) {
    .footer .footer-top {
      width: 100%;
      margin: 0; } }

html,
body {
  background-color: #f5f5f5;
  color: #000;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important; }

* {
  box-sizing: none !important; }

.myfa-icon {
  margin-right: 5px; }

.container-fluid {
  width: 94%; }
  @media screen and (max-width: 767px) {
    .container-fluid {
      width: 100%;
      padding: 10px !important; } }

.myPage {
  transition: all 0.5s; }

.sticky-top {
  z-index: 10 !important; }

.visible-xs {
  display: none; }

.visible-xss {
  display: none; }
  @media screen and (max-width: 576px) {
    .visible-xss {
      display: block; } }

@media screen and (max-width: 767px) {
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important; } }

.col-xs-6 {
  width: 50% !important; }

@media screen and (max-width: 480px) {
  .col-xs-6 {
    width: 100% !important; } }
.spinner-border {
  display: flex;
  width: 3rem;
  height: 3rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
  top: 50%;
  position: fixed;
  left: 50%;
  z-index: 1020; }

.hidden {
  opacity: 0.0; }

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
@media screen and (max-width: 767px) {
  html,
  body {
    min-width: 270px; }

  .visible-xs,
  .header-sm {
    display: block;
    /*
    height: auto;
    width: 100%;
    border: none !important;
    margin-left: 20px;
    background-color: $left-side-small-background-color;*/ }

  .main-container {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0; }

  .must-hidden {
    display: none !important;
    height: 0px !important;
    width: 0px !important; } }
html {
  direction: ltr; }

.suggested-container-fluid {
  width: 100% !important; }

.suggested-products-container {
  direction: ltr !important; }

.more-info-page {
  margin-top: 20px; }
  .more-info-page .images {
    width: 100%;
    height: 350px; }
    .more-info-page .images img {
      width: 100%;
      height: 350px; }

.title-desc {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem; }

hr {
  display: block !important;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  height: 5px;
  color: red !important; }

.owl-carousel {
  z-index: 0 !important; }

.product-icon .my-spinner .input-group {
  width: 140px; }
  .product-icon .my-spinner .input-group .input-group-prepend .btn-decrement {
    color: white;
    background-color: #dc3545;
    min-width: 36px !important;
    z-index: 0; }
  .product-icon .my-spinner .input-group .form-control {
    width: 40px; }
  .product-icon .my-spinner .input-group .input-group-append .btn-increment {
    z-index: 0;
    color: white;
    background-color: #17a2b8;
    min-width: 36px !important; }
.product-icon .add-to-cart {
  font-size: 16px;
  background-color: #17a2b8 !important; }

.suggested-products .card {
  padding: 0px;
  border: none;
  height: 300px;
  overflow: hidden; }
  .suggested-products .card img {
    width: 100%;
    height: 200px; }
  .suggested-products .card .card-body {
    padding: 5px; }
.suggested-products .active {
  background-color: #fff;
  color: black; }

.owl-prev,
.owl-next {
  width: 25px;
  height: 100px;
  position: absolute;
  top: 145px;
  transform: translateY(-50%);
  display: block !important;
  border: 0px solid black;
  background-color: #6c757d;
  /*
  i {
      &:hover {
          background-color: crimson !important;
      }
  }*/ }
  .owl-prev:hover,
  .owl-next:hover {
    background-color: #463e66 !important; }

.owl-prev {
  left: -30px; }

.owl-next {
  right: -30px; }

.owl-prev i,
.owl-next i {
  transform: scale(2, 5); }

.sideMenu {
  overflow-y: visible;
  overflow-x: hidden;
  position: sticky;
  width: 280px;
  min-height: 700px;
  left: 0;
  margin-left: -280px;
  background: linear-gradient(to bottom, #fff, #DAE2F8, #D6A4A4);
  transition: all 0.5s;
  z-index: 101; }
  @media screen and (max-width: 767px) {
    .sideMenu {
      top: 0px;
      position: fixed;
      min-height: 100%;
      height: 100%; } }
  .sideMenu ul {
    list-style: none;
    padding: 0; }
  .sideMenu .dashboard-header {
    display: inline; }
    .sideMenu .dashboard-header .logo {
      top: 0;
      left: 0;
      width: 82%;
      float: left; }
      .sideMenu .dashboard-header .logo img {
        width: 100%; }
  .sideMenu .dashboard-list {
    padding: 20px 10px;
    margin-bottom: 100px; }
    @media screen and (max-width: 767px) {
      .sideMenu .dashboard-list {
        margin-top: 30px !important; } }
    .sideMenu .dashboard-list hr {
      border-color: #17a2b8;
      margin-top: 25px; }
    .sideMenu .dashboard-list .dashboard-card {
      margin: 15px; }
      .sideMenu .dashboard-list .dashboard-card .dashboard-card-title {
        text-transform: uppercase;
        font-size: 16px;
        margin: 0.75rem 0;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 3px 5px red, 0 -3px 5px #17a2b8;
        white-space: nowrap;
        position: relative; }
      .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn {
        margin-top: 15px; }
        .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn {
          color: black;
          display: block;
          border: none;
          text-align: left;
          width: 230px;
          height: 40px;
          padding: 0px 15px;
          overflow: hidden;
          cursor: pointer;
          margin-top: 5px;
          margin-bottom: 10px;
          box-shadow: 0 1px 5px #17a2b8, 0 -1px 5px #17a2b8; }
          .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn:hover {
            background-color: #17a2b8;
            color: #fff;
            border-radius: 45px;
            transition: all 0.5s;
            box-shadow: 0 1px 5px #fff, 0 -1px 5px #fff; }
          .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn i {
            width: 30px;
            height: 30px;
            display: none; }
          .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn .left-icon {
            font-size: 24px;
            font-weight: 100;
            float: left; }
            .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn .left-icon .img-icon {
              width: 25px;
              height: 25px;
              overflow: hidden;
              margin-bottom: 10px; }
          .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn .right-icon {
            float: right;
            font-size: 18px; }
          .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .list-btn .dashboard-category {
            padding: 10px;
            height: 40px !important;
            font-size: 16px;
            font-weight: bold;
            white-space: nowrap; }
        .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .category-btn:hover {
          color: #fff; }
        .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .dashboard-card-list {
          padding: 0px 10px 0 20px;
          border-left: 1px solid #17a2b8;
          margin: 20px 10px; }
          .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .dashboard-card-list li .sublist-btn {
            width: 93%;
            border-radius: 45px;
            text-align: center;
            border: none; }
            .sideMenu .dashboard-list .dashboard-card .dashboard-card-btn .dashboard-card-list li .sublist-btn:hover {
              background-color: #f1f1f1 !important;
              box-shadow: 0 2px 7px #17a2b8, 0 -2px 7px #434343;
              color: #fff;
              text-shadow: 0 4px 7px red, 0 -4px 7px #17a2b8;
              font-weight: bolder; }
  .sideMenu .toggle-btn {
    position: relative;
    cursor: pointer;
    list-style: none; }
    .sideMenu .toggle-btn .dashboard-close-toggle-btn {
      position: absolute;
      top: 12px !important;
      left: 225px !important;
      list-style: none; }
      .sideMenu .toggle-btn .dashboard-close-toggle-btn span {
        margin-top: 5px !important;
        box-shadow: 0;
        background-color: red; }

.active {
  background-color: black;
  color: #fff; }

.main {
  transition: 0.5s !important; }
  .main span {
    content: "\003E"; }

.expand-arrow {
  z-index: 1;
  transition: 0.5s;
  width: 25px;
  bottom: 50% !important;
  position: fixed;
  cursor: pointer; }

/*# sourceMappingURL=more-info.css.map */
