<div th:fragment="filter-bar" class="d-none">
	<div class="filter-btn-container" id="filter-btn-container" style="display: block;">
            <button type="button" id="filter-btn" class="btn my-btn filter-btn must-hidden" onclick="openFilterMargin()" value="open">
                        <i class="fa fa-filter"></i>
                 </button>
            <button type="button" id="filter-btn" class="btn my-btn filter-btn visible-xs" onclick="openFilterWithoutMargin()" value="open">
                    <i class="fa fa-filter"></i>
             </button>
        </div>
        <div class="filter-bar" id="filter-bar">
            <form>

                <div class="filter-setting">
                    <h4 class="text-center">Advanced Search</h4>
                        <fieldset class="form-group">

                            <legend class="col-form-label">Gendor</legend>
                            <div class="col-sm-10" id="gender1" onclick="filterProducts()">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="all" value="all" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                    All
                                  </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="men" value="man">
                                    <label class="form-check-label" for="gridRadios2">
                                    Men
                                  </label>
                                </div>
                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="gender" id="women" value="women">
                                    <label class="form-check-label" for="gridRadios3">
                                    Women
                                  </label>
                                </div>
                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="gender" id="babies" value="babies" >
                                    <label class="form-check-label" for="gridRadios3">
                                    Babies
                                  </label>
                                </div>

                            </div>
                        </fieldset>
                        <div class="category-select">
                            <div class="form-group ">
                                <label for="category">Category</label>
                                <select id="category-select" class="form-control" onchange="filterProducts()" >
	                              <option th:value="all" selected>All</option>
	                              <option th:each="category: ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
	                            </select>
                            </div>
                        </div>
                        <div class="size-select">
                            <div class="form-group ">
                                <label for="size">Size</label>
                                <select id="size-select" class="form-control" onchange="filterProducts()">
	                              <option value="100.0" selected>100</option>
	                              <option value="15.0">15</option>
	                            </select>
                            </div>
                        </div>

                        <div class="row price-col">
                            <div class="form-group col-6 price from">
                                <label for="inputCity">from price</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-6 price to">
                                <label for="inputCity">to price</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                        </div>
                        <div class="form-group submit-btn">
                            <button type="submit" class="btn btn-success mb-2 submit-btn">Submit</button>
                        </div>
                </div>
            </form>
        </div>
</div>