<div th:fragment="footer">

    <!-- Start Footer -->
    <div class="footer" id="footer" onclick="closeDashboard()">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                        <h2>Divinector</h2>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 segment-tow md-mb-30 sm-mb-30">
                        <h2>Useful Link</h2>
                        <ul>
                            <li><a href="#">Bla Bla</a></li>
                            <li><a href="#">Bla Bla</a></li>
                            <li><a href="#">Bla Bla</a></li>
                            <li><a href="#">Bla Bla</a></li>
                            <li><a href="#">Bla Bla</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 segment-three md-mb-30 sm-mb-30">
                        <h2>Follow Us </h2>
                        <p>Please Follow us on our Social Media Profile in order to keep updated. Some quick
                            example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 segment-four md-mb-30 sm-mb-30">
                        <h2>Our NewLetter</h2>
                        <p>Please Follow us on our Social Media Profile in order to keep updated. Some quick
                            example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <form action="">
                            <input type="email">
                            <input type="submit" value="subscribe">
                        </form>
                    </div>


                </div>
            </div>
        </div>
        <p class="footer-bottom-text">All Right reserved by &copy;Saeed-Mawed.2019</p>
    </div>

    <!-- End Footer -->
</div>