@import '../helper/variables';
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto; //border-style: inset;
    border-width: 1px;
    height: 5px;
    border-color: $hr-color;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    font-size: 2rem !important;
}

.logo {
    position: relative;
    margin: 0 10px;
    img {
        max-height: 65px;
    }
    @media screen and (max-width:785px) {
        margin: 0px !important;
    }
}

a {
    text-decoration: none !important;
    &:hover {
        text-decoration: none !important;
    }
}