.cart-container {
    .row {
        padding: 0px;
        margin: 0px;
    }
    .cart-table {
        background-color: $cart-table-background-color;
        .cart-table-header {
            border-bottom: 2px solid #dee2e6 !important;
            color: #dc3545;
        }
        .one-cart {
            padding: 10px 0;
            position: relative;
            width: 100%;
            img {
                width: 220px;
                height: 240px;
            }
            .product-info {
                width: calc(100% - 240px);
                position: relative;
                margin-left: 10px;
                h2 {
                    font-size: 24px;
                }
                h3 {
                    font-size: 20px;
                }
                .product-name {}
                .product-short-desc {}
                .prodcut-color {}
                .product-size {}
                .product-count {}
                .container {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 0 10px;
                    .product-icon {
                        min-width: 300px;
                        .my-spinner {
                            .input-group {
                                width: 140px;
                                .input-group-prepend {
                                    .btn-decrement {
                                        color: white;
                                        background-color: #dc3545;
                                        min-width: 36px !important;
                                        //width: 26px;
                                        z-index: 0;
                                    }
                                }
                                .form-control {
                                    width: 40px;
                                }
                                .input-group-append {
                                    .btn-increment {
                                        z-index: 0;
                                        color: white;
                                        background-color: #17a2b8;
                                        min-width: 36px !important;
                                        //width: 26px;
                                    }
                                }
                            }
                        }
                        .my-trash {}
                        .total-price-one-cart {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
        .cart-table-footer {
            //position: fixed;
            bottom: 0px;
            background-color: $cart-table-background-color;
            padding: 10px;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
            border-top: 2px solid #dee2e6 !important;
            .footer-btn {
                .cart-table-footer-btn {
                    min-width: 250px;
                    width: 350px;
                    height: auto;
                }
            }
            .footer-price {
                position: relative;
                h3 {
                    font-size: 16px;
                    text-align: center;
                    display: flex;
                    margin-right: auto;
                    justify-content: center;
                }
            }
        }
    }
    .cart-card-info-container {
        padding-right: 0px;
        .cart-card-info {
            transition: $transation;
            min-height: 400px;
            z-index: 0;
            border: 2px solid #dee2e6;
            background-color: $cart-table-background-color;
            color: #dc3545;
            top: 80px;
            .receipt {
                border-bottom: 2px solid #dee2e6;
                text-align: center;
                display: flex;
                margin-right: auto;
                justify-content: center;
                background-color: #dc3545;
                color: $cart-table-background-color;
            }
            h4 {
                font-size: 16px;
            }
            span {
                font-size: 16px;
            }
        }
    }
}